/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* 클래스가 있을 때만 마진이 없게 하려고! 클래스가 없으면 마진이 있음 */
/* [class] 클래스를 준 요소들에 해당 속성을 주는 것 */
/* [class] {
  margin: 0;
} */
/* 현재 normalize.css 때문에 의미가 없음..! */

a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
/* 미디어 크기 제어 */
img {
  /* 최대값. 부모이미지 만큼은 커지지만, 원래 이미지 보다 커지지 않음 */
  max-width: 100%;
  height: auto;
}

video {
  /* 무조건 부모영역 만큼 커짐 */
  width: 100%;
  height: auto;
}

/* 가로가 100%일 때 세로는 56.25% (16:9비율) */
/* 반응형 Iframe */
.iframeWrapper {
  background-color: blueviolet;
  width: 100%;
  height: 0 !important;
  position: relative;
}

.iframeRatio-16-9 {
  padding-top: 56.25%;
}

.iframeRatio-21-9 {
  padding-top: 42.857142857142855%;
}

.iframeRatio-4-3 {
  padding-top: 75%;
}
.iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
