* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


.group1 {
  background: gold;
}
.group2 {
  background: pink;
}
.group3 {
  background: lightgreen;
}
.group4 {
  background: skyblue;
}
.group5 {
  background: salmon;
}
.group6 {
  background: violet;
}
.group7 {
  background: aquamarine;
}
.group8 {
  background: lightseagreen;
}
.group9 {
  background: MediumPurple;
}
.group10 {
  background: MidnightBlue;
}
.group11 {
  background: Olive;
}
.group12 {
  background: SandyBrown;
}

/* 공통 레이아웃 */
.container{
  border: 5px solid black;
  margin: 50px;
  display: grid;
  gap: 24px ;
  grid-template-rows: auto auto auto;
}

/* 모바일 레이아웃 */
@media(max-width: 768px){
  .container{
    grid-template-columns: 1fr 1fr;
  }

  .group2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/* 데스크탑 레이아웃 */
@media(min-width:769px){
  .container{
    grid-template-columns: repeat(12, 1fr);
  }

  .group1{
    grid-area: 2/1/4/5;
  }

  .group2{
    grid-column: 1/13;
    grid-row: 1/2;
  }

  .group3{
    grid-area: 3/6/4/13;
  }

  .group4{
    grid-area: 2/5/3/10;
  }

  .group5{
    grid-area: 2/10/3/13;
  }

}