@import url(./grid.css);
@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

/* 모든 디바이스 (All Device) */
/* 공통 헤더 */
.appHeader {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  padding: var(--spacing-base) var(--spacing-lg);
  gap: var(--spacing-base);
}

/* 공통 로고*/
.logo {
  width: 12.75rem; /* 204px */
  height: 3.687rem; /* 59px */
}

.logo__link {
  display: block; /* 블록을 줘야 가로세로를 지정할 수 있음 */
  width: 100%;
  height: 100%;
  background: url(./../images/webcafe-logo.png) no-repeat 0 0/100% 100%; /* /100% -> background-size: 100% 100%. 슬래시 앞은 포지션 */
}

/* 공통 멤버서비스 */
.memberOnly {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* 공통 검색 폼 */
input[type="search"] {
  -webkit-appearance: none;
  appearance: none;
}

.searchForm__group {
  display: flex;
  flex-flow: row nowrap;
}

.searchForm__group .formInput {
  /* 부모영역에 gap을 주는 것도 가능함 */
  margin-right: var(--spacing-xs);
}

.searchForm__group .formInput__input {
  width: 100%;
  height: 2rem;
  border: 1px solid var(--silver);
  background: var(--white);
  border-radius: 0.25rem;
  padding: var(--spacing-sxxs) var(--spacing-sm);
}

.button {
  cursor: pointer;
  height: 2rem;
  border-radius: 0.25rem;
  padding: var(--spacing-sxxs) var(--spacing-sm);
  /* white-space 대신 flex-shrink: 0사용 가능 -> flex 한 줄로 */
  /* white-space: nowrap; */
  flex: 0 0 auto;
  font-size: var(--text-sm);
}

.button--none {
  border: 0;
  padding: 0;
  background: transparent;
}

.button--fill {
  background: var(--secondary-color);
  color: var(--white);
  border: 0;
}

.button--outline {
  background: transparent;
  color: var(--secondary-color);
  border: 1px solid currentColor;
}

/* 모바일 디바이스 (Mobile Device) */
@media (min-width: 320px) and (max-width: 768px) {
  /* 모바일 헤더 */
  .appHeader {
    background: var(--primary-color);
    /* 멤버 온리가 아니라 앱헤더 글자색을 바꿈 */
    color: var(--white);
  }

  /* 모바일 멤버서비스 */
  .memberOnly {
    order: -1;
    font-size: var(--text-sm);
  }

  /* 모바일 검색 폼 */
  .searchForm__group .formInput {
    flex-grow: 1;
  }

  /* 모바일 제어 버튼 시작 */
  .buttonWrapper{
    background: gold;
  }

  .button--burger{
    width: 30px;
    height: 30px;
    background: blue;
    position: relative;
    overflow: hidden;
  }

  [class*="button--burgerBar"]{
    background: var(--white);
    width: 100%;
    height: 20%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    transition: all 200ms;
  }

  .button--burgerBarTop{
    top: 0;
  }
  .button--burgerBarMiddle{
    top: 50%;
    transform: translateY(-50%)
  }
  .button--burgerBarBottom{
    top: 100%;
    transform: translateY(-100%);
  }

  .is--active .button--burgerBarTop{
    top: 50%;
    transform: translate(0%, -50%) rotate(-45deg);
  }
  .is--active .button--burgerBarMiddle{
    transform: translate(-100%, -50%);
  }
  .is--active .button--burgerBarBottom{
    top: 50%;
    transform: translate(0%, -50%) rotate(45deg);
  }

  /* 모바일 제어 버튼 종료 */
}

/* 데스크탑 디바이스 (Desktop Device) */
@media (min-width: 769px) {
  /* 데스크탑 헤더 */
  .appHeader {
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }

  /* 데스크탑 로고 */
  .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

   /* 데스크탑 검색 폼 */
   .searchForm__group {
    justify-content: flex-end;
  }

  .searchForm__group .formInput {
    width: 25rem;
  }

  .button--burger {
    display: none;
  }
}

/* 고해상도 배경이미지 미디어쿼리 */
@media (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .logo__link {
    background-image: url(./../images/webcafe-logo@2x.png);
  }
}
